In [1]:
import sys
sys.path.append('/home/r42/caseWill')
from utils.connections import duckdb_postgres_query, postgres_query

In [2]:
duckdb_postgres_query("select 'oi'").df()

  'oi'
0   oi

In [9]:
duckdb_postgres_query("SHOW schemas").df()

CatalogException: Catalog Error: Table with name schemas does not exist!
Did you mean "memory.information_schema.schemata"?

In [3]:
duckdb_postgres_query("select * from bronze.customer").df()

,entry_date,surrogate_key,full_name,birth_date,uf_name,uf,street_name
0,2022-11-18,1000,Sophie Peixoto,1981-05-18,Goiás,GO,"Passarela Stephany Jesus, 45"
1,2022-11-05,2000,Miguel Campos,1988-09-04,Amazonas,AM,"Recanto Maitê Nascimento, 81"
2,2023-01-01,3000,Bryan Cardoso,1992-04-14,Tocantins,TO,"Viaduto de Lima, 49"
3,2023-03-21,4000,Nicolas Viana,1984-06-08,Mato Grosso do Sul,MS,"Vereda Isadora Campos, 507"
4,2022-09-26,5000,Heitor Cavalcanti,1993-06-23,Paraná,PR,"Campo Aragão, 58"
...,...,...,...,...,...,...,...
995,2023-07-03,496000,Bruna da Mota,1998-03-13,Amazonas,AM,"Vereda Moraes, 355"
996,2023-07-26,497000,Sra. Isis Costa,1990-10-26,Rio Grande do Sul,RS,"Estação de das Neves, 68"
997,2023-03-19,498000,Noah da Cruz,1991-05-15,Distrito Federal,DF,"Via Cavalcanti, 2"
998,2022-12-01,499000,Kamilly Farias,1988-06-21,Mato Grosso do Sul,MS,"Aeroporto Júlia Rocha, 942"
999,2022-12-01,500000,Davi Sales,1990-03-31,Rio de Janeiro,RJ,"Setor Erick Fernandes, 5"